.container, .container-fluid {
  padding-right: 15px;
  padding-left: 15px; }

.container, .container-fluid {
  margin-right: auto;
  margin-left: auto; }

[class^='col'] {
  margin-right: 15px;
  margin-left: 15px; }

.container, .container-fluid, .row, [class^='col'] {
  border: 1px solid red; }

.row {
  margin-right: -15px;
  margin-left: -15px; }

/* A container with some padding */
.container {
  width: 100%; }
  @media only screen and (max-width: 1200px) {
    .container {
      max-width: 1000px; } }
  @media only screen and (max-width: 992px) {
    .container {
      max-width: 800px; } }
  @media only screen and (max-width: 768px) {
    .container {
      max-width: 600px; } }
  @media only screen and (max-width: 576px) {
    .container {
      max-width: 350px; } }

.container-fluid {
  width: 100%; }

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start; }

[class^='col'] {
  height: 100px; }

.col-12 {
  flex: 0 0 100%; }

@media only screen and (max-width: 1200px) {
  .col-xl-12 {
    flex: 0 0 100%; } }

@media only screen and (max-width: 992px) {
  .col-lg-12 {
    flex: 0 0 100%; } }

@media only screen and (max-width: 768px) {
  .col-md-12 {
    flex: 0 0 100%; } }

@media only screen and (max-width: 576px) {
  .col-sm-12 {
    flex: 0 0 100%; } }

.col-11 {
  flex: 0 0 91.66667%; }

@media only screen and (max-width: 1200px) {
  .col-xl-11 {
    flex: 0 0 91.66667%; } }

@media only screen and (max-width: 992px) {
  .col-lg-11 {
    flex: 0 0 91.66667%; } }

@media only screen and (max-width: 768px) {
  .col-md-11 {
    flex: 0 0 91.66667%; } }

@media only screen and (max-width: 576px) {
  .col-sm-11 {
    flex: 0 0 91.66667%; } }

.col-10 {
  flex: 0 0 83.33333%; }

@media only screen and (max-width: 1200px) {
  .col-xl-10 {
    flex: 0 0 83.33333%; } }

@media only screen and (max-width: 992px) {
  .col-lg-10 {
    flex: 0 0 83.33333%; } }

@media only screen and (max-width: 768px) {
  .col-md-10 {
    flex: 0 0 83.33333%; } }

@media only screen and (max-width: 576px) {
  .col-sm-10 {
    flex: 0 0 83.33333%; } }

.col-9 {
  flex: 0 0 75%; }

@media only screen and (max-width: 1200px) {
  .col-xl-9 {
    flex: 0 0 75%; } }

@media only screen and (max-width: 992px) {
  .col-lg-9 {
    flex: 0 0 75%; } }

@media only screen and (max-width: 768px) {
  .col-md-9 {
    flex: 0 0 75%; } }

@media only screen and (max-width: 576px) {
  .col-sm-9 {
    flex: 0 0 75%; } }

.col-8 {
  flex: 0 0 66.66667%; }

@media only screen and (max-width: 1200px) {
  .col-xl-8 {
    flex: 0 0 66.66667%; } }

@media only screen and (max-width: 992px) {
  .col-lg-8 {
    flex: 0 0 66.66667%; } }

@media only screen and (max-width: 768px) {
  .col-md-8 {
    flex: 0 0 66.66667%; } }

@media only screen and (max-width: 576px) {
  .col-sm-8 {
    flex: 0 0 66.66667%; } }

.col-7 {
  flex: 0 0 58.33333%; }

@media only screen and (max-width: 1200px) {
  .col-xl-7 {
    flex: 0 0 58.33333%; } }

@media only screen and (max-width: 992px) {
  .col-lg-7 {
    flex: 0 0 58.33333%; } }

@media only screen and (max-width: 768px) {
  .col-md-7 {
    flex: 0 0 58.33333%; } }

@media only screen and (max-width: 576px) {
  .col-sm-7 {
    flex: 0 0 58.33333%; } }

.col-6 {
  flex: 0 0 50%; }

@media only screen and (max-width: 1200px) {
  .col-xl-6 {
    flex: 0 0 50%; } }

@media only screen and (max-width: 992px) {
  .col-lg-6 {
    flex: 0 0 50%; } }

@media only screen and (max-width: 768px) {
  .col-md-6 {
    flex: 0 0 50%; } }

@media only screen and (max-width: 576px) {
  .col-sm-6 {
    flex: 0 0 50%; } }

.col-6 {
  flex: 0 0 50%; }

@media only screen and (max-width: 1200px) {
  .col-xl-6 {
    flex: 0 0 50%; } }

@media only screen and (max-width: 992px) {
  .col-lg-6 {
    flex: 0 0 50%; } }

@media only screen and (max-width: 768px) {
  .col-md-6 {
    flex: 0 0 50%; } }

@media only screen and (max-width: 576px) {
  .col-sm-6 {
    flex: 0 0 50%; } }

.col-5 {
  flex: 0 0 41.66667%; }

@media only screen and (max-width: 1200px) {
  .col-xl-5 {
    flex: 0 0 41.66667%; } }

@media only screen and (max-width: 992px) {
  .col-lg-5 {
    flex: 0 0 41.66667%; } }

@media only screen and (max-width: 768px) {
  .col-md-5 {
    flex: 0 0 41.66667%; } }

@media only screen and (max-width: 576px) {
  .col-sm-5 {
    flex: 0 0 41.66667%; } }

.col-4 {
  flex: 0 0 33.33333%; }

@media only screen and (max-width: 1200px) {
  .col-xl-4 {
    flex: 0 0 33.33333%; } }

@media only screen and (max-width: 992px) {
  .col-lg-4 {
    flex: 0 0 33.33333%; } }

@media only screen and (max-width: 768px) {
  .col-md-4 {
    flex: 0 0 33.33333%; } }

@media only screen and (max-width: 576px) {
  .col-sm-4 {
    flex: 0 0 33.33333%; } }

.col-3 {
  flex: 0 0 25%; }

@media only screen and (max-width: 1200px) {
  .col-xl-3 {
    flex: 0 0 25%; } }

@media only screen and (max-width: 992px) {
  .col-lg-3 {
    flex: 0 0 25%; } }

@media only screen and (max-width: 768px) {
  .col-md-3 {
    flex: 0 0 25%; } }

@media only screen and (max-width: 576px) {
  .col-sm-3 {
    flex: 0 0 25%; } }

.col-2 {
  flex: 0 0 16.66667%; }

@media only screen and (max-width: 1200px) {
  .col-xl-2 {
    flex: 0 0 16.66667%; } }

@media only screen and (max-width: 992px) {
  .col-lg-2 {
    flex: 0 0 16.66667%; } }

@media only screen and (max-width: 768px) {
  .col-md-2 {
    flex: 0 0 16.66667%; } }

@media only screen and (max-width: 576px) {
  .col-sm-2 {
    flex: 0 0 16.66667%; } }

.col-1 {
  flex: 0 0 8.33333%; }

@media only screen and (max-width: 1200px) {
  .col-xl-1 {
    flex: 0 0 8.33333%; } }

@media only screen and (max-width: 992px) {
  .col-lg-1 {
    flex: 0 0 8.33333%; } }

@media only screen and (max-width: 768px) {
  .col-md-1 {
    flex: 0 0 8.33333%; } }

@media only screen and (max-width: 576px) {
  .col-sm-1 {
    flex: 0 0 8.33333%; } }

*, *::before, *::after {
  box-sizing: border-box; }

html {
  height: 100%;
  min-height: 100%; }

body {
  height: 100%;
  max-height: 100%;
  margin: 0;
  padding-top: 50px; }

#main-header {
  height: 50px;
  background-color: #092a35;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }

.jumbotron {
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/images/cta.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 400px; }

.cta-row {
  margin-top: 40px; }
