* {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  padding-top: 50px; }

#main-header {
  height: 50px;
  background-color: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }

.jumbotron {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../assets/images/cta.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 400px; }
